* {
  font-size: 10px;
  /*margin: 0;*/
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: sans-serif;
  background: #e9e8e8;
  margin: 0;
}

header {
  justify-content: center;
  text-align: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 89px;
}

.logo {
  max-width: 13rem;
  margin-top: 1.5rem;
}

hr {
  background: #e9e8e8;
  height: 0.1rem;
  border: none;
}

.header-container {
  list-style-type: none;
  justify-content: center;
  display: flex;
  height: 2.5rem;
}

.header-container > div {
  float: left;
  margin-right: 1.6rem;
  font-size: 1.1rem;
  color: #5c1182;
}

/**/
/**/
/* Burger menu icon source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js*/
.menu-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.bar1,
.bar2,
.bar3 {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.6rem 0;
  transition: 0.4s;
  background: #5c1182;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
  transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.8rem, -0.8rem);
  transform: rotate(45deg) translate(-0.8rem, -0.8rem);
}
/**/
/**/

main {
  width: 100%;
  margin: 0;
  padding-top: 1px;
}

/* figure container */
figure {
  margin: 0;
  /*padding-top: 1px;*/
}

h2 {margin-top: 10rem;}

figure > h2,
h3 {
  font-size: 1.8rem;
  margin-left: 2rem;
}

figure > h3 {
  font-weight: 300;
  margin-block-start: -0.5rem;
}

.navigation-slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vw;
  background: white;
  margin-top: -0.5rem;
  position: relative;
}

a.arrow-left {
  left: 1rem;
  position: absolute;
}

a.arrow-right {
  right: 1rem;
  position: absolute;
}

.slideshow-ellipse > a > img {
  width: 1.7rem;
  padding: 0.3rem;
}

/* section container */
section {
  background: #f4f4f4;
  padding-bottom: 1.1rem;
}

.section-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

.price-overview {
  display: flex;
  justify-content: space-between;
  color: #fe3366;
}

.price-overview > h4 {
  align-items: start;
  font-size: 1.8rem;
  align-self: flex-end;
  margin-block-end: 0.8rem;
  font-weight: 800;
}

.price-overview > h5 {
  font-size: 1.3rem;
  align-self: flex-end;
  margin-block-end: 1rem;
}

.button-order-now {
  border: none;
  background: #5c1182;
  color: white;
  width: 100%;
  height: 5rem;
  font-size: 1.7rem;
  font-weight: 800;
}

.additional-message {
  font-size: 1rem;
  color: #888b8d;
  text-align: end;
}

.container-product-details {
  list-style-image: url("../images/yes.png");
}

.container-product-details > li {
  margin-block-end: 1rem;
  font-size: 1.3rem;
  margin-left: 2rem;
}
/*--------------------------------------------------basket*/
.indicator {
  --in-size: 1rem;
  width: var(--in-size);
  height: var(--in-size);
  background: white;
  display: inline-block;
  border-radius: var(--in-size);
  border: 0.3rem solid #5c1182;
  transition: 0.5s;
}
.indicator.active {
  background: #5c1182;
}
main section[data-section="checkout"] {
  width: 100%;
  height: calc(100vh - 8.5rem);
  background: #5c1182;
  display: block;
  float: left;
  padding: 8.5rem 0 0 0;
}
a {
  font-size: 3rem;
  background: white;
}

a, button {cursor: pointer;}


/* ------------------------------ Subscription page  */
.subs-header-container {
  justify-content: center;
  position: relative;
  display: flex;
  border-bottom: solid 1px #e9e8e8;
  height: 2.5rem;
  margin-top: 1rem;
}

.subs-header-container > div {
  font-size: 1.1rem;
  color: #5c1182;
}

.location-navigation {
  display: inline;
}

.nav-location {
  width: 1.7rem;
  /*padding: 0 1rem;*/
}
.nav-location-container {
  display: flex;
  width: 22rem;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  height: 1.3rem;
}

.underline {
  background: #5c1182;
  position: absolute;
  top: 8px;
  width: 200px;
  height: 1px;
}

.subs-main {
  margin: 0;
  padding-top: 1px;
  display: flex;
  justify-content: center;
}
.subs-section {
  width: 100%;
  background: white;
  max-width: 520px;
}

.subs-section-container {
  min-height: 550px;
}

.subs-section-container > h2 {
  margin-top: 11rem;
  font-weight: 300;
  text-align: center;
  font-size: 1.6rem;
}

.product-container {
  width: 76vw;
  max-width: 400px;
  height: 10rem;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 3rem 1.5fr;
  grid-row-gap: 1.5rem;
  grid-template-areas:
          "img h3"
          "img input";
  border: solid 1px #dcdcdc;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.product-img {
  grid-area: img;
  justify-self: center;
  align-self: center;
}
.product-container > h3 {
  grid-area: h3;
}
.size-product {
  grid-area: input;
  width: 7rem;
  height: 3rem;
  font-size: 1.6rem;
  padding: 4px;
}

.size-product > option {
  font-size: 1.7rem;
  padding: 5px 0;
}

.subscription-container-default {
  width: 76vw;
  max-width: 400px;
  height: 7rem;
  border: solid 1px #dcdcdc;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 2rem;
}

.confirm-button {
  border: none;
  background: #5c1182;
  color: white;
  width: 76vw;
  max-width: 400px;
  height: 5rem;
  font-size: 1.7rem;
  font-weight: 800;
}

.subscription-container-default > h3 {
  margin-block-start: 1.5rem;
  margin-block-end: 0;
  font-weight: normal;
  font-size: 1.7rem;
}

.subscription-container-default > h4 {
  color: #ff3366;
  margin-block-start: 0.6rem;
  margin-block-end: 1em;
  font-weight: 100;
  font-size: 1.4rem;
}

.expand-message > h5 {
  color: #5c1182;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-block-start: 0.8em;
  margin-block-end: 0.67em;
  font-weight: bold;
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 1.7rem;
}

a,
button {
  cursor: pointer;
}

.subs-flex-container {
  display: flex;
  justify-content: center;
}
