* {
  font-size: 10px;
  /*margin: 0;*/
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: sans-serif;
  background: #e9e8e8;
  margin: 0;
}

header {
  justify-content: center;
  text-align: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 9.4rem;
}

.logo {
  max-width: 13rem;
  margin-top: 1.5rem;
  width: 11rem;
}

hr {
  background: #e9e8e8;
  height: 0.1rem;
  border: none;
}

.header-container {
  list-style-type: none;
  justify-content: center;
  display: flex;
  height: 2.5rem;
}

.header-container > div {
  float: left;
  margin-right: 1.6rem;
  font-size: 1.1rem;
  color: #5c1182;
}

.back-button {
  position: absolute;
  top: -11px;
  left: 0;
}

/**/
/**/
/* Burger menu icon source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js*/
.menu-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.bar1,
.bar2,
.bar3 {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.6rem 0;
  transition: 0.4s;
  background: #5c1182;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
  transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.8rem, -0.8rem);
  transform: rotate(45deg) translate(-0.8rem, -0.8rem);
}
/**/
/**/

.index-main {
  width: 100%;
  margin: 0;
  padding-top: 1px;
}

/* figure container */
.index-figure {
  margin: 0;
  /*padding-top: 1px;*/
}

h2 {margin-top: 10rem;}

.index-caption > h2, h3 {
  font-size: 1.8rem;
  margin-left: 2rem;
}

.index-caption > h3 {
  font-weight: 300;
  margin-block-start: -0.5rem;
}

.slideshow-img {
  width: 100vw;
}

.navigation-slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vw;
  max-height: 60px;
  background: white;
  margin-top: -0.5rem;
  position: relative;
}

a.arrow-left {
  left: 1rem;
  position: absolute;
}

a.arrow-right {
  right: 1rem;
  position: absolute;
}

.slideshow-ellipse > a > img {
  width: 1.7rem;
  padding: 0.3rem;
}

/* section container */
.index-section {
  background: #f4f4f4;
  padding-bottom: 1.1rem;
}

.section-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

.price-overview {
  display: flex;
  justify-content: space-between;
  color: #fe3366;
}

.price-overview > h4 {
  align-items: start;
  font-size: 1.8rem;
  align-self: flex-end;
  margin-block-end: 0.8rem;
  font-weight: 800;
}

.price-overview > h5 {
  font-size: 1.3rem;
  align-self: flex-end;
  margin-block-end: 1rem;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.label-box {
  color: #8B8B8B;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
}

input[type=radio] + .label-box{
  border: solid 2px #D5D5D5;
  border-radius: 5px;
  font-size: 1.3rem;
  background: white;
}

input[type=radio]:checked + .label-box{
  border: solid 2px #5C1182;
  border-radius: 5px;
  color: black;
}

.button-order-now {
  border: none;
  background: #5c1182;
  color: white;
  width: 100%;
  height: 5rem;
  font-size: 1.7rem;
  font-weight: 800;
}

.additional-message {
  font-size: 1rem;
  color: #888b8d;
  text-align: end;
}

.container-product-details {
  list-style-image: url("../images/yes.png");
}

.container-product-details > li {
  margin-block-end: 1rem;
  font-size: 1.3rem;
  margin-left: 2rem;
}

/*--------------------------------------------------basket*/
.indicator {
  --in-size: 1rem;
  width: var(--in-size);
  height: var(--in-size);
  background: white;
  display: inline-block;
  border-radius: var(--in-size);
  border: 0.3rem solid #5c1182;
  transition: 0.5s;
}
.indicator.active {
  background: #5c1182;
}
main section[data-section="checkout"] {
  width: 100%;
  height: calc(100vh - 8.5rem);
  background: #5c1182;
  display: block;
  float: left;
  padding: 8.5rem 0 0 0;
}
a {
  font-size: 3rem;
  /*background: white;*/
}

a,
button {
  cursor: pointer;
}

/* ------------------------------ Subscription page  */
.subs-header-container {
  justify-content: center;
  position: relative;
  display: flex;
  border-bottom: solid 1px #e9e8e8;
  height: 2.8rem;
  margin-top: 1rem;
}

.subs-header-container > div {
  font-size: 1.1rem;
  color: #5c1182;
}

.location-navigation {
  display: inline;
}

.nav-location {
  width: 1.7rem;
  /*padding: 0 1rem;*/
}
.nav-location-container {
  display: flex;
  width: 22rem;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  height: 1.3rem;
}

.underline {
  background: #5c1182;
  position: absolute;
  top: 8px;
  width: 200px;
  height: 1px;
}

.subs-main {
  margin: 0;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.subs-section {
  width: 100%;
  background: white;
  max-width: 520px;
}

.subs-section-container {
  min-height: 550px;
}

.subs-section-container > h2 {
  margin-top: 11rem;
  font-weight: 300;
  text-align: center;
  font-size: 1.6rem;
}

.product-container {
  max-width: 400px;
  height: 10rem;
  width: 17rem;
  margin: 2rem 1rem 5rem 0;
  display: flex;
  justify-content: center;
}

.product-img {
  width: 10rem;
  justify-self: center;
  align-self: center;
}

.free-gift {
  color: white;
  background: #FF3366;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  position: absolute;
  margin: 9rem 5rem;
}
.free-gift > p {
  font-size: 1.3rem;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.size-product {
  width: 7rem;
  height: 3rem;
  font-size: 1.6rem;
  padding: 4px;
}

.size-product > option {
  font-size: 1.7rem;
  padding: 5px 0;
}

.subscription-container-default {
  width: 76vw;
  max-width: 400px;
  height: 5rem;
  border: solid 1px #dcdcdc;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 2rem;
}

.confirm-button {
  border: none;
  background: #5c1182;
  color: white;
  width: 76vw;
  max-width: 400px;
  height: 5rem;
  font-size: 1.7rem;
  font-weight: 800;
  margin-top: 1rem;
}

.subscription-container-default > h3 {
  margin-block-start: 1.5rem;
  margin-block-end: 0;
  font-weight: normal;
  font-size: 1.7rem;
}

.subscription-container-default > h4 {
  color: #ff3366;
  margin-block-start: 0.6rem;
  margin-block-end: 1em;
  font-weight: 100;
  font-size: 1.4rem;
}

.discount-icon {
  color: white;
  background: #FF3366;
  border-radius: 0.7rem;
  position: absolute;
  width: 7.7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1.3rem;
  right: 27px;
}

.discount-icon > h4 {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 700;
  margin-block-start: 0rem;
}

.expand-message > h5 {
  color: #5c1182;
  font-size: 1.3rem;
  text-decoration: underline;
  margin-block-start: 0.8em;
  margin-block-end: 0.67em;
  font-weight: bold;
  text-align: center;
}

.postage-info {
  color: #5B5B5B;
  font-size: 1.3rem;
  text-align: center;
  margin-block-start: 1rem;
  margin-block-end: 0;
}

.bold {
  font-weight: bold;
  font-size: 1.7rem;
}

a,
button {
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: center;
}

/*----------subs*/
.subsBox {
  position: relative;
}
.subsLabel {
  position: absolute;
  top: -0.5rem;
  background: white;
  width: 28%;
  left: calc(50% - (27% / 2));
  cursor: pointer;
  font-size: 1.4rem;
}
.subsLabel::after {
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
}
input[name="sub"] {
  display: none;
}
input[name="sub"]:checked ~ .subscription-container-default {
  border: solid 2px #5C1182 !important;
}
input[name="sub"]:checked ~ .subscription-container-default .subsLabel {
  font-weight: bold;
}

.subsLabelPopular {
  color: #5C1182;
  font-weight: bold;
}
/* ------------------------------ your basket page  */

.message-pricelist {
  border-bottom: solid 1px #E9E8E8;
  height: 45px;
  margin-bottom: 1rem;
  width: 76%;
}

.message-pricelist > h3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  font-size: 1.5rem;
}

.message-pricelist > h3 > span {
  font-size: inherit;
}

.message-pricelist > h3 > span > a {
  border-bottom: solid 1px #5C1182;
  color: #5C1182;
  font-size: inherit;
}

.price-info-basket {
  text-align: center;
}

.price-info-basket > h3 {
  margin: 4rem 0 1px 0;
}

.price-info-basket > h2 {
  font-size: 3rem;
  margin: 0 0 3rem 0;
  color: #ff3366;
}

.product-container-selected {
  width: 76vw;
  max-width: 400px;
  height: 10rem;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 12% 6% auto;
  grid-row-gap: 1.5rem;
  grid-template-areas:
    "img label"
    "img product"
    "img size";
  border: solid 1px #dcdcdc;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.product-img-overview {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.product-name {
  grid-area: product;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.product-size {
  grid-area: size;
  margin-left: 3rem;
  font-size: 1.3rem;
}

.product-label-selected {
  grid-area: label;
  margin-left: 1.3rem;
}
/*------------------------Delivery*/
.form-delivery {
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 1rem;
  width: 77%;
  margin: auto;
}

.form-delivery input {
  grid-column: 1 / -1;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 0.1rem #E9E8E8;
}

.form-delivery input:focus {
  border: solid 0.1rem #5C1182;
}

.form-delivery input::placeholder {
  color: black;
  opacity: 1;
}

.form-delivery input[name="zip"] {
  grid-column: 1 / 2;
}

.form-delivery input[name="city"] {
  grid-column: 2 / -1;
}

.end-form-margin {margin-bottom: 3rem !important;}

/*Bottom section*/
.bottomDelivery {
  background: white;
}

.bottomDelivery p {
  width: 77%;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
}

.bottomDelivery h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: 3.5rem;
  margin-left: 0;
}

.bottomDelivery img {
  margin: auto;
  display: block;
}

/* ----------------------------------------- Modal */

.modal-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-content {
  position: absolute;
  top: 5.5rem;
  background: white;
  width: 100vw;
  height: 91.7vh;
  max-width: 520px;
}

.modal-content > h2 {
  font-weight: 300;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.highlight {
  color: #fe3366;
  font-weight: 600;
}

/* ----------------------------------------- Order completed page */
.order-completed {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.background-box {
  background: #f4f4f4;
  padding-bottom: 9rem;
}

/*------------------------------------------- Media queries */
@media screen and (min-width: 620px) {
  .index-main-container {
    max-width: 1300px;
    background: #f4f4f4;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rem 14rem auto;
    grid-template-areas:
            ". ."
            "caption caption"
            "index-figure index-section";
  }

  .slideshow-container {
    width: 300px;
  }

  .index-figure {margin-top: 1rem;}
  .index-caption > h2, h3 {font-size: 2.2rem;}
  .index-caption > h3 {margin-top: 10rem;;}

  .index-caption {
    display: inline-flex;
    margin-block-start: 0;
    justify-content: center;
    grid-area: caption;
  }

  .index-figure {
    margin-top: 1rem;
    grid-area: index-figure;
  }

  .index-section {
    background: #f4f4f4;
    padding-bottom: 1.1rem;
    grid-area: index-section;
  }

  .slideshow-container, .slideshow-img {
    max-width: 600px;
    width: 48vw;
  }

  .price-overview > h4 {
    margin-block-start: 0;
  }

  .product-container-selected {
    height: 11rem;
    grid-template-rows: 19% 6% auto;
  }
}

@media screen and (min-width: 900px) {
  .button-order-now {
    width: 200px;
  }

  .container-product-details > li {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 520px) {
  .back-button {
    display: none;
  }
}